@model Easy.Models.ApplyOnline

    <!DOCTYPE html>
    <html>
    <head>
        <title>Apply Online </title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <style>
            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            body {
                margin: 0;
            }

            html {
                font-family: sans-serif;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
            }

            ul, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, ol, form, input {
                margin: 0px;
                padding: 0px;
            }

            input, textarea {
                font-family: "微软雅黑";
                border: none;
                outline: none;
                background: none;
            }

            button, input, optgroup, select, textarea {
                margin: 0;
                font: inherit;
                color: inherit;
            }

            input {
                line-height: normal;
            }

            img {
                border: 0;
            }

            button, select {
                text-transform: none;
            }

            h2, h3, h4, b, strong {
                font-weight: normal;
            }

            ::after, ::before {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

            .container {
                padding-right: 15px;
                padding-left: 15px;
                margin-right: auto;
                margin-left: auto;
            }
            /* @media all and (min-width:768px) */
            .container {
                width: 750px;
            }
            /* @media all and (min-width:992px) */
            .container {
                width: 970px;
            }
            /* @media all and (min-width:1200px) */
            .container {
                width: 1170px;
            }

            .panel-body {
                padding: 15px;
            }

            .sctp {
                padding-left: 458px;
                overflow: hidden;
            }

            .form-group {
                margin-bottom: 15px;
            }

            .form-horizontal .form-group {
                margin-right: -15px;
                margin-left: -15px;
            }

                .btn-group-vertical > .btn-group::after, .btn-group-vertical > .btn-group::before, .btn-toolbar::after, .btn-toolbar::before, .clearfix::after, .clearfix::before, .container-fluid::after, .container-fluid::before, .container::after, .container::before, .dl-horizontal dd::after, .dl-horizontal dd::before, .form-horizontal .form-group::after, .form-horizontal .form-group::before, .modal-footer::after, .modal-footer::before, .modal-header::after, .modal-header::before, .nav::after, .nav::before, .navbar-collapse::after, .navbar-collapse::before, .navbar-header::after, .navbar-header::before, .navbar::after, .navbar::before, .pager::after, .pager::before, .panel-body::after, .panel-body::before, .row::after, .row::before {
                    display: table;
                    content: " ";
                }

                .btn-group-vertical > .btn-group::after, .btn-toolbar::after, .clearfix::after, .container-fluid::after, .container::after, .dl-horizontal dd::after, .form-horizontal .form-group::after, .modal-footer::after, .modal-header::after, .nav::after, .navbar-collapse::after, .navbar-header::after, .navbar::after, .pager::after, .panel-body::after, .row::after {
                    clear: both;
                }

            .scwb {
                border-top: 2px solid #ec6023;
                padding-top: 30px;
            }

            body {
                margin: 0px;
                padding: 0px;
                font-size: 16px;
                font-family: "微软雅黑","黑体";
                color: #898989;
                line-height: 1;
                background: #FFF;
                min-width: 1200px;
            }

            body {
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                font-size: 14px;
                line-height: 1.4285;
                color: #333;
                background-color: #fff;
            }

            html {
                font-size: 10px;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }

            button, input, select, textarea {
                font-family: inherit;
                font-size: inherit;
                line-height: inherit;
            }

            label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: 700;
            }

            .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
                position: relative;
                min-height: 1px;
                padding-right: 15px;
                padding-left: 15px;
            }
            /* @media all and (min-width:768px) */
            .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
                float: left;
            }
            /* @media all and (min-width:768px) */
            .col-sm-8 {
                width: 66.66%;
            }

            .btn4 {
                width: 300px;
                height: 60px;
                border: none;
                color: #fff;
                background: #ec6023;
                font-size: 20px;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                margin: 40px 0 0 450px;
            }

            .btn3 {
                width: 120px;
                height: 47px;
                color: #fff;
                background: #88c337;
                font-size: 18px;
                border: none;
                outline: none;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
                outline: none;
                vertical-align: middle;
                -moz-border-radius: 6px;
                -webkit-border-radius: 6px;
                border-radius: 6px;
                float: left;
                margin: 35px 0 0 40px;
            }

            button, html input[type=button], input[type=reset], input[type=submit] {
                -webkit-appearance: button;
                cursor: pointer;
            }

            input[type=file] {
                display: block;
            }

            img {
                border: 0px;
                padding: 0px;
                display: block;
            }

            img {
                vertical-align: middle;
            }
            /* @media all and (min-width:768px) */
            .col-sm-4 {
                width: 33.33%;
            }

            .form-group label {
                display: inline-block;
                padding-right: 15px;
                font-size: 18px;
                color: #333;
                font-weight: 100;
            }
            /* @media all and (min-width:768px) */
            .form-horizontal .control-label {
                padding-top: 7px;
                margin-bottom: 0px;
                text-align: right;
            }

            .form-control {
                display: block;
                width: 100%;
                height: 34px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.4285;
                color: #555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075);
                -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
                -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            }

            input.form-control {
                width: 378px;
                padding-left: 20px;
                line-height: 38px;
                height: 38px;
                font-size: 18px;
                color: #666;
                vertical-align: middle;
            }

            select[multiple], select[size] {
                height: auto;
            }

            select.form-control {
                width: 378px;
                padding-left: 20px;
                line-height: 38px;
                height: 38px;
                font-size: 18px;
                color: #666;
                vertical-align: middle;
            }

            select[multiple] {
                height: 100px;
            }

            .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
                font-family: inherit;
                font-weight: 500;
                line-height: 1.1;
                color: inherit;
            }

            .h1, .h2, .h3, h1, h2, h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            .h2, h2 {
                font-size: 30px;
            }

            .xxlb_tit h2 {
                font-size: 20px;
                text-align: center;
                background: url(../images/a15.png) no-repeat center center;
                color: #88c337;
                line-height: 62px;
            }
        </style>
    </head>
    <body>
        <h3>
            You are welcome to apply for audit through Esha's Integrity Supplier Program. Your application form has been received and relevant customer representatives will contact you as soon as possible.
        </h3>
        <div class="panel-body">
            <div class="form-horizontal">
                <p>
                    <div class="form-group Auditor Auditing Buyer Trader Factory">
                        <label class="col-sm-4 control-label">Apply ID:</label>
                        <div class="col-sm-8">
                            @Model.Id
                        </div>
                    </div>

                    <div class="form-group ">
                        <label for="Payer" class="col-sm-4 control-label">Payer:</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(m => m.Payer)
                        </div>
                    </div>


                    <div class="xxlb_tit ">
                        <h2>  Information of Applicant</h2>
                    </div>
                    @if (Model.User != null)
                    {
                    var user = Model.User ;
                    <div class="form-group Auditor Auditing Buyer Trader Factory">
                        <label class="col-sm-4 control-label">Email Address:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly="readonly" class="wby1" value="" />@user.Email
                        </div>
                    </div>
                    <div class="form-group Auditor Auditing Buyer Trader Factory">
                        <label for="Email " class="col-sm-4 control-label">Company Name English:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@user.CompanyNameEnglish
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CompanyNameLocal" class="col-sm-4 control-label">Company Name Local: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@user.CompanyNameLocal
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddressEnglish" class="col-sm-4 control-label">Address English: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@user.AddressEnglish
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddressLocal" class="col-sm-4 control-label">Address Local: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@user.AddressLocal
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BusinessLicenseNumber" class="col-sm-4 control-label">Business License Number: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@user.BusinessLicenseNumber
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="YearofFacilityEstablished" class="col-sm-4 control-label"> Year of Facility Established:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@user.YearofFacilityEstablished
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="TelephoneNumber" class="col-sm-4 control-label"> Telephone Number:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@user.TelephoneNumber
                        </div>
                    </div>

                    <div class="form-group Auditing Buyer Trader Factory">
                        <label for="ContactPerson" class="col-sm-4 control-label">Contact Person ‘s Name/Title:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly="readonly" class="wby1" value="" />@user.ContactPerson
                        </div>
                    </div>
                    }

                    <div class="xxlb_tit ">
                        <h2>  Information of Vendor (If applicable)</h2>
                    </div>




                    <div id="Vendordiv">

                        <div class="form-group Auditor Auditing Buyer Trader Factory">
                            <label for="Email " class="col-sm-4 control-label">Email Address:</label>
                            <div class="col-sm-8">

                                @Html.EditorFor(m => m.VendorEmail)

                            </div>
                        </div>


                        <div class="form-group Auditing Buyer Trader Factory">
                            <label for="CompanyNameEnglish" class="col-sm-4 control-label">Company Name English:</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(m => m.VendorCompanyNameEnglish)

                            </div>
                        </div>
                        <div class="form-group Auditing Buyer Trader Factory">
                            <label for="VendorCompanyNameLocal" class="col-sm-4 control-label">Company Name Local:</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(m => m.VendorCompanyNameLocal)

                            </div>
                        </div>
                        <div class="form-group Auditing Buyer Trader Factory">
                            <label for="VendorAddressEnglish" class="col-sm-4 control-label">Address English:</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(m => m.VendorAddressEnglish)

                            </div>
                        </div>
                        <div class="form-group Auditing Buyer Trader Factory">
                            <label for="VendorAddressLocal" class="col-sm-4 control-label">Address Local:</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(m => m.VendorAddressLocal)

                            </div>
                        </div>


                        <div class="form-group Auditing Buyer Trader Factory">
                            <label for="VendorContactPerson" class="col-sm-4 control-label">Contact Person's Name/Title:</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(m => m.VendorContactPerson)

                            </div>
                        </div>
                        <div class="form-group Auditing Buyer Trader Factory">
                            <label for="VendorTelephoneNumber" class="col-sm-4 control-label">Telephone Number:</label>
                            <div class="col-sm-8">
                                @Html.EditorFor(m => m.VendorTelephoneNumber)

                            </div>
                        </div>
                    </div>


                    <div class="xxlb_tit ">
                        <h2>  Details of Physical Facility to be assessed</h2>
                    </div>

                    <div class="form-group Auditor Auditing Buyer Trader Factory">
                        <label class="col-sm-4 control-label">Email  Address:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.Email
                        </div>
                    </div>
                    <div class="form-group Auditor Auditing Buyer Trader Factory">
                        <label for="Email " class="col-sm-4 control-label">Company Name English:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.CompanyNameEnglish
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="CompanyNameLocal" class="col-sm-4 control-label">Company Name Local: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.CompanyNameLocal
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddressEnglish" class="col-sm-4 control-label">Address English" </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.AddressEnglish
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="AddressLocal" class="col-sm-4 control-label">Address Local: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.AddressLocal
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="BusinessLicenseNumber" class="col-sm-4 control-label">Business License Number: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.BusinessLicenseNumber
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="YearofFacilityEstablished" class="col-sm-4 control-label"> Year of Facility Established:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.YearofFacilityEstablished
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ContactPerson" class="col-sm-4 control-label"> ContactPerson:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.ContactPerson
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="TelephoneNumber" class="col-sm-4 control-label"> Telephone Number:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.TelephoneNumber
                        </div>
                    </div>

                    <div class="form-group Auditing Buyer Trader Factory">
                        <label for="ContactPerson" class="col-sm-4 control-label">Contact Person's Name/Title:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.ContactPerson
                        </div>
                    </div>



                    <div class="form-group Auditing Buyer Trader Factory">
                        <label for="YearofFacilityEstablished" class="col-sm-4 control-label">Year of Facility Established:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.YearofFacilityEstablished

                        </div>
                    </div>

                    <div class="form-group Auditing Buyer Trader Factory">
                        <label for="MainLanguageofemployees" class="col-sm-4 control-label">Main Language of employees:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.MainLanguageofemployees
                        </div>
                    </div>


                    <div class="form-group Buyer Trader Factory">
                        <label for="ProductsbyCategory" class="col-sm-4 control-label">Products by Category:</label>
                        <div class="col-sm-8">
                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.ProductsbyCategory
                        </div>
                    </div>
                    <div class="form-group Buyer Trader Factory">
                        <label for="SpecificProduct" class="col-sm-4 control-label">Specific Product:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.SpecificProduct
                        </div>
                    </div>

                    <div class="xxlb_tit Auditor">
                        <h2> Employees</h2>
                    </div>
                    <div class="form-group Factory">
                        <label for="ProductionWorkers" class="col-sm-4 control-label">Production Workers:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.ProductionWorkers
                        </div>
                    </div>
                    <div class="form-group Factory">
                        <label for="ManagementStaff" class="col-sm-4 control-label">Management Staff:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.ManagementStaff
                        </div>
                    </div>
                    <div class="form-group Factory">
                        <label for="Male" class="col-sm-4 control-label">Male:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.Male
                        </div>
                    </div>
                    <div class="form-group Factory">
                        <label for="Female" class="col-sm-4 control-label">Female:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.Female
                        </div>
                    </div>
                    <div class="form-group Factory">
                        <label for="TotalFacilityFloorSize" class="col-sm-4 control-label">Total Facility Floor Size:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.TotalFacilityFloorSize
                        </div>
                    </div>


                    <div class="form-group Factory">
                        <label for="ServiceStandard" class="col-sm-4 control-label">Service Standard:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.ServiceStandard

                            Client Program:@Model.TotalFacilityFloorSize
                        </div>
                    </div>

                    <div class="form-group Factory">
                        <label for="ServiceRequest" class="col-sm-4 control-label">Service Request:</label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.ServiceRequest
                        </div>
                    </div>

                    <div class="form-group Factory">
                        <label for="AuditType" class="col-sm-4 control-label">Audit Type: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.AuditType
                        </div>
                    </div>


                    <div class="form-group Factory">
                        <label for="AuditMethod" class="col-sm-4 control-label">Audit Method: </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value=" " />@Model.AuditMethod
                        </div>
                    </div>


                    <div class="form-group Factory">
                        <label for="DesiredAuditdate" class="col-sm-4 control-label">Desired Audit date : </label>
                        <div class="col-sm-8">

                            <input type="text" readonly="readonly" class="wby1" value="" />@Model.DesiredAuditdate
                        </div>
                    </div>

                </p>

            </div>
        </div>

    </body>
</html>