@using Microsoft.AspNetCore.Hosting
@{
    var theme = themeService.GetCurrentTheme();
}
@inject IThemeService themeService
@inject IHostingEnvironment hostingEnvironment
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="zh"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="zh">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0" />


    @*<link href="~/themes/flyingtop/css/swiper-3.4.2.min.css" rel="stylesheet" />*@
    <link href="~/themes/flyingtop/css/style.css" rel="stylesheet" />

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />*@
    <script src="~/themes/flyingtop/js/jquery-1.12.4.min.js"></script>
    @*<script src="~/themes/flyingtop/js/swiper-3.4.2.min.js"></script>*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>



 
 
    <script src="/js/admin.js?v=1d4e94f98b2b8df" type="text/javascript"></script>
 



    @RenderSection("Mycss", required: false)

    @*@StyleAtHead()*@
    @*@ScriptAtHead()*@
</head>
<body>
  
    <div class="top">
       
    </div>
    <div class="herder">
        <div class="herder_top">
            <div class="logo"><a href=""><img src="/themes/flyingtop/images/a1.png"></a></div>
            <div class="top_box">
                <ul>
                    <li><a href="/Account/Forgotten?ReturnUrl=%2FAccount">Forget Password？</a></li>
                    @*<li><a href="/Account/SignUp?ReturnUrl=%2FAccount">Register</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <li><a href="/Account/SignIn?ReturnUrl=%2FAccount">Sign In</a></li>*@

                    @if (User.Identity.IsAuthenticated || ApplicationContext.CurrentCustomer != null)
                    {
                        <li>
                            <a href="/Account/">


                                @*@User.Identity.Name*@

                                @(ApplicationContext.CurrentCustomer == null ? "" : ApplicationContext.CurrentCustomer.UserID)

                            </a>
                        </li>


                        <li>
                            <a target="_self" href="@Url.Action("SignOut","Account")" title="Logout">
                                <i class="glyphicon glyphicon-off"></i> Logout
                            </a>

                        </li>
                    }
                    else
                    {

                        <li><a href="/Account/SignUp?ReturnUrl=%2FAccount">Register</a>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                        <li><a href="/Account/SignIn?ReturnUrl=%2Account">Sign In</a></li>
                    }
                </ul>
            </div>
            <div class="serach">
                <form action="/report/search">

                    <input type="text" name="" id="" value="" />
                    <button>serach</button>

                </form>
            </div>
        </div>
        <div class="nav">
            <ul>




                <li class="on">
                    <a target="_self" href="/index">Home</a>
                </li>
                <li class="">
                    <a target="_self" href="/product">Product</a>
                </li>
                <li class="">
                    <a target="_self" href="/Service">Service</a>
                </li>
                <li class="">
                    <a target="_self" href="/Account/ApplyOnline">Apply Online</a>
                </li>
                <li class="">
                    <a target="_self" href="/CSP">CSP</a>
                </li>
                <li class="">
                    <a target="_self" href="/Partners">Partners</a>
                </li>
                <li class="">
                    <a target="_self" href="/ALG">ALG</a>
                </li>
                <li class="">
                    <a target="_self" href="/contact">Contact</a>
                </li>




            </ul>
        </div>
    </div>
    <div class="scwb">

        <div id="container" class="container ">
            @RenderBody()
        </div>
    </div>

    <div class="tao1"></div>
    <div class="footer">
        <ul class="footer_list">
            <li><a href=""><img src="/themes/flyingtop/images/a11.png"></a></li>
            <li><a href=""><img src="/themes/flyingtop/images/a12.png"></a></li>
            <li><a href=""><img src="/themes/flyingtop/images/a13.png"></a></li>
            <li><a href=""><img src="/themes/flyingtop/images/a14.png"></a></li>
        </ul>
        <ul class="footer_nav">
            <li><a href="">Home</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
            <li><a href="">Product</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
            <li><a href="">Service</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
            <li><a href="">Apply Online</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
            <li><a href="">CSP</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
            <li><a href="">Partners</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
            <li><a href="">ALG</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</li>
            <li><a href="">Contact</a></li>
        </ul>
        <p>© 2003-2019   All rights reserved.</p>
    </div>
    @*@StyleAtFoot()*@
    @ScriptAtFoot()
</body>
</html>